@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.bg-sp{
    color:#0a0a0a;

}
.page {
    /*background: linear-gradient(145deg, #9072ea42, #8ca4ff9e);*/
    /*background:linear-gradient(234deg,#ea8372,#ffb88c);*/
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    margin-right: auto;
    margin-left: auto;
    height: 90vh;
    overflow-x: hidden;
}

.home .pp{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
}

.home .pp img{
    height: 400px;
    background: linear-gradient(145deg, #ea837242, #ffb88c9e);
    /* padding: 10px; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(242 203 189);
    /*margin-bottom: -2%;*/
    /*-webkit-transform: rotate(-20deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*transform: rotate(-20deg);*/
}

.home .intro {
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(to right, #d70f01, #ff6b08, #f32f01, #da1300);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.home .intro a {
    /*padding: 10px;*/
    margin: 0px 1rem 0px 1rem;
}
/*.fa-2x:hover {*/
/*    transform: scale(2);*/
/*    color: #f32f01; !* Match the gradient color *!*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

