html, body, #app{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background:#efefef;
    /*background-image: url("assets/background.png");*/
    /*color: #fe6507;*/

}

.container {

    min-height: 100%;
    min-width: 100%;
}

.navbar {
    color: #fe6507;
}

/*.navbar > .border {*/
/*    background: linear-gradient(270deg,#dc8372,#ffb88c);*/
/*    height: 1px*/
/*}*/

/*.navbar > .active {*/
/*    transform: skew(15deg)*/
/*}*/

/*.navbar > .active,.navbar > .active a {*/
/*    background: linear-gradient(270deg,hsla(10,60%,65%,.15),rgba(255,184,140,.5))*/
/*}*/

/*.navbar .active a {*/
/*    transform: skew(-15deg)*/
/*}*/

/*.navbar .active a:focus,.navbar .active a:hover {*/
/*    transform: skew(-15deg);*/
/*    background-color: transparent*/
/*}*/

/*.navbar > div > .navbar-brand {*/
/*    color: #fe6507;*/
/*}*/

/*.nav-link{*/
/*    color: #fe6507;*/
/*}*/


